---
/**
 * TFQuestion Component
 * Renders True/False question options.
 */
export interface Props {
    questionIndex: number;
}

const { questionIndex } = Astro.props;
---

<div class="tf-grid" data-question-index={questionIndex}>
    <div class="option tf-option" data-value="true">
        <span class="option-marker">✓</span>
        <span class="option-text">TRUE</span>
    </div>
    <div class="option tf-option" data-value="false">
        <span class="option-marker">✗</span>
        <span class="option-text">FALSE</span>
    </div>
</div>
